body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    display: flex;
    top: 0;
    z-index: 1000;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}

.logo img {
    width: 50px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding: 5px 0;
}

.nav-links a:hover,
.nav-links a.active {
    color: red;
    font-weight: bold;
}

.nav-links a.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: 0;
}

.nav-links a:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: 0;
}

.navbar-nav .nav-item .nav-link {
    color: black; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: #F60F49; 
}

.navbar-nav .nav-link {
    border: 1px solid #000; 
    padding: 5px 10px; 
    border-radius: 20px; 
    margin: 5px; 
    text-align: center; 
    transition: all 0.3s ease; 
    color: #000; 
}

.navbar-nav .nav-link:hover {
    background-color: #f8f9fa; 
    border-color: #ec1010; 
    color: #f90e0e; 
}

/* Gaya untuk menu aktif */
.navbar-nav .nav-link.active {
    border: 1px solid #ff0000; 
    color: #fff !important; 
    background-color: #ff0000; 
}

/* Default style for nav-link */
.navbar-nav .nav-item .nav-link {
    color: black; /* Default text color */
    font-weight: 600; /* Slightly bolder text */
}

/* Hover effect for nav-link */
.navbar-nav .nav-item .nav-link:hover {
    color: #F60F49; /* Pinkish red text color on hover */
}

/* Box style for all nav-links */
.navbar-nav .nav-link {
    border: 1px solid #000; /* Add border around nav-links */
    padding: 5px 10px; /* Add spacing inside the nav-links */
    border-radius: 20px; /* Rounded corners for nav-links */
    margin: 5px; /* Space between nav-links */
    text-align: center; /* Center align text */
    transition: all 0.3s ease; /* Smooth transition for hover and active state */
    color: #000; /* Default text color inside nav-links */
}

/* Hover effect for nav-links */
.navbar-nav .nav-link:hover {
    background-color: #f8f9fa; /* Light background on hover */
    border-color: #ec1010; /* Red border on hover */
    color: #f90e0e; /* Red text color on hover */
}

/* Style for active menu item */
.navbar-nav .nav-link.active {
    border: 1px solid #ff0000; /* Red border for active menu */
    color: #fff !important; /* White text for active menu */
    background-color: #ff0000; /* Red background for active menu */
}

